:root {
    --primary-color: #155263;
    --secondary-color: #fa4300;
    --tertiary-color: #fd8e26;
    --quaternary-color: #facc57;
  
    --light-bg: #b3d5df;
    --light-header-bg: #327183;
  
    --dark-bg: #0a2a33;
    --dark-header-bg: var(--primary-color);

    --button-primary: #2c7a8a;
    --button-secondary: #43a2b1;
  }

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--light-bg); /* Lighter body background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

header {
    margin-inline: 1rem;
}

h1 {
    font-family: "Syne", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: var(--primary-color);
    margin-block-start: 0;
    margin-block-end: 2rem;
    @media(min-width: 768px) {
        font-size: 4rem;
    }
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
}

nav a, nav button {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: all 0.3s;
    background: linear-gradient(to bottom, var(--button-primary), var(--button-secondary));
    border: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-family: inherit;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    outline: 2px solid transparent;
}

nav a:hover, nav button:hover, nav a:focus-visible, nav button:focus-visible {
    background: linear-gradient(to bottom, var(--button-secondary), var(--button-primary));
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    outline: 2px solid var(--light-bg);
}

dialog {
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 80%;
    max-width: 500px;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
  filter: blur(4px);
}


/* Dark Mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-bg);
    }

    h1 {
        color: var(--quaternary-color);
    }

    nav a {
        color: var(--tertiary-color);
    }

    nav a:hover {
        color: var(--secondary-color);
    }
}

